form.container((submit)='onAddProject(projectForm)' #projectForm='ngForm')
  mat-form-field(fxLayout='column')
    mat-label Add a new project
    input(matInput, type='text', name='projectName', ngModel, #title='ngModel' required, placeholder='Start typing...')  
    mat-error(*ngIf='title.invalid') Please add a project name  
  button.section(mat-raised-button, color='primary', type='submit') Add project
