.container(fxLayout='row' fxLayoutAlign='center')
  section(fxLayout='column' fxFlex=50 fxFlex.xs=90)
    project-create((projectCreated)='onProjectAdded($event)' )
    project-list([projects]='projectsList')



      


     