mat-card.container(*ngFor='let project of projects; index as i;')
  mat-card-title {{ project.projectName }}
  mat-card-content
    mat-selection-list(fxLayout='row wrap', *ngFor='let task of project.tasksList; index as idx')
      mat-list-option(fxFlex) {{ task.taskName }}
      mat-action-row(fxLayout='row')
        button.box(mat-mini-fab, color='secondary')
          mat-icon create
        button.box(mat-mini-fab, color='error')
          mat-icon delete
    mat-card-actions
      form.container(fxLayout='row wrap', (submit)='onAddTask(form, i)' #form='ngForm')
        mat-form-field(fxFlex)
          mat-label Add a new task
          input(matInput, type='text', name='taskName', ngModel, #title='ngModel' required, placeholder='Start typing...')  
          mat-error(*ngIf='title.invalid') Please add a project name
        nav.buttons(fxLayout='row' fxLayout.xs='row wrap')
          button.box(mat-mini-fab, color='primary', type='submit')
            mat-icon add
         

